body {
  //font-family: 'Oxygen', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

$borderRadius: 20px;
$winColor: rgba(0, 255, 0, 0.5);
$loseColor: rgba(255, 85, 107, 0.5);
$unclickableColor: rgba(89, 184, 255, 0.5);

$messageWinColor: #27ae60;
$messageLoseColor: #c0392b;
$messageDrawColor: #7f8c8d;

@import "assets/scss/mixins";

@import "assets/scss/game-box";
@import "assets/scss/header";
@import "assets/scss/controls";
@import "assets/scss/board";

@import "assets/scss/message";