body {
  font-family: 'Roboto', sans-serif;
  background-color: black; }

.game-box-wrapper {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }
  @media (min-width: 34em) {
    .game-box-wrapper {
      margin-top: 1rem;
      margin-bottom: 1rem; } }

.game-box {
  border-radius: 20px;
  width: 100%; }
  @media (min-width: 20em) {
    .game-box {
      width: 20em; } }
  @media (min-width: 48em) {
    .game-box {
      width: 34em; } }

.game-box-header {
  width: 100%;
  overflow: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #e74c3c;
  border-bottom: solid 1px black; }
  .game-box-header h1 {
    color: #ecf0f1; }
  .game-box-header h2 {
    color: #2c3e50; }

.game-box-controls-wrapper {
  width: 100%;
  overflow: auto;
  background-color: #2abd68;
  border-bottom: solid 1px black;
  position: relative; }

.game-box-controls-wrapper:before, .game-box-controls-wrapper:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; }

.game-box-controls-wrapper:before {
  box-shadow: inset 0 10px 10px -10px black; }

.game-box-controls-wrapper:after {
  box-shadow: inset 0 -10px 10px -10px black; }

.game-box-controls {
  width: 50%; }

.controls-button {
  float: left;
  width: 50%;
  border-left: solid 1px black; }
  .controls-button:first-of-type {
    box-shadow: -2px 0 5px black; }
  .controls-button:last-of-type {
    box-shadow: 2px 0 5px black;
    border-right: solid 1px black; }

button.control-button {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  border: none;
  background-color: #217dbb;
  color: black;
  -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
  font-size: 2em; }

button.control-button.active {
  background-color: #3498db;
  color: black;
  position: relative;
  z-index: 1; }

.game-box-board {
  width: 100%;
  overflow: hidden;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #ecf0f1;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.board-row {
  width: 100%;
  border-bottom: solid 1px black; }
  .board-row:last-of-type {
    border-bottom: none; }

.board-tile {
  width: 33.33%;
  float: left;
  cursor: pointer;
  border-right: solid 1px;
  position: relative;
  overflow: hidden; }
  .board-tile:last-of-type {
    border-right: none;
    width: 33.341%; }

.board-tile {
  background-color: transparent;
  -webkit-transition: background-color 0.5s;
          transition: background-color 0.5s; }

.board-tile.unclickable {
  background-color: rgba(89, 184, 255, 0.5); }

.board-tile.win {
  background-color: rgba(0, 255, 0, 0.5); }

.board-tile.lose {
  background-color: rgba(255, 85, 107, 0.5); }

.board-tile-image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: top 0.5s linear;
          transition: top 0.5s linear; }

.board-tile-image.ng-leave.ng-leave-active {
  top: 100%; }

.board-tile-image.ng-leave,
.board-tile-image.ng-enter.ng-enter-active {
  top: 0; }

.board-tile-image.ng-enter {
  top: -100%; }

.message {
  opacity: 0;
  width: 100%;
  visibility: hidden;
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;
  pointer-events: none;
  text-align: center;
  color: #ecf0f1; }

.message.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto; }

.message.win {
  background-color: rgba(39, 174, 96, 0.6); }

.message.lose {
  background-color: rgba(192, 57, 43, 0.6); }

.message.draw {
  background-color: rgba(127, 140, 141, 0.6); }
