@mixin borderRadiusTop($radius) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin borderRadiusBottom($radius) {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}